h1 {
    color:steelblue;
    text-align:center;
}

h3 {
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    text-decoration: underline;
    text-align: center;
}



