table {
    border-collapse:collapse;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

th, tr {
    color: greenyellow;
    border: 1px solid greenyellow
}

body {
    background-color: black;
}

p, h1 {
    margin: 20px;
    color:greenyellow
}

