h1 {
    color:darkgrey;
    text-align:center;
    font-family:Perpetua;
}

h3 {
    font-family:Perpetua;
    font-size: medium;
    text-decoration: underline;
    text-align: center;
}

#para2, #para1, #para4, #para3 {
    font-family: Perpetua;
}


