h1 {
    color:maroon;
    text-align:center;
}

h3 {
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
    text-decoration: underline;
    text-align: center;
}

/* p.hover-text {
    cursor:pointer
}

p.hover-text:hover {
    color:blue;
    font-weight: bold;
} */

