@mixin btn-cust {
    border-radius: 0%;

    font-family: Perpetua;
    border: 1.5px solid #000011;
    margin-bottom: 10px;
    width: fit-content;
    align-self: center;
}

body {
    background-color: #d5d5d5;

    h1 {
        font-family: Perpetua;
        color: #850000;
        font-weight:550;
        text-align: center;
    }

    .container-music {
        .row {
            display:flex;
            justify-content: space-around;
            .col-forms {
                display: flex;
                flex-direction: column;
                width: 30%;
                margin: 50px;
                border: 3px solid #850000;
                .userInfo {
                    margin: 10px;
                    .input-cust {
                        border-radius: 0%;
                        font-family: Perpetua;
                        color:#850000 !important;
                    } 
                }
                .btn-cust {
                    @include btn-cust();
                }
            }

            .col-output {
                display: flex;
                flex-direction: column;
                margin: 50px;
                width: 50%;
                border: 3px solid #850000;
            }
            
        }
    }


}