body {
    background-color: #D5D5D5;
}

.container-forms {
    width:750px;
    padding-left: 100px;
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
    font-family: Perpetua;
} 

.qheaders {color:#850000;}

.col-sm {
    background-color:#D9D9D9;
    padding:20px;
    margin-right: 10px;
    margin-bottom: 10px;

    .input-group {
        font-family: Perpetua;
        
        .btn {
            border-radius: 0%;
            font-family: Perpetua;
            color:#850000
        }

        .submitarea {
            font-style: italic;
        }
    }
}






