@mixin functionContainerSizing {
    width: fit-content;
    margin: 20px;
    border: 1px solid #850000;
    padding: 10px;
    font-family: Perpetua;
    justify-content: space-around;
    
}

@mixin btn-cust {
    border-radius: 0%;
    border: 1px solid #850000;
    font-family: Perpetua;
}

body {
    background: #d5d5d5;
}

.container-js-functions {
    @include functionContainerSizing();

    .btn-custom {
        @include btn-cust();
    }

    .display {
        padding:10px;
    }

    


}


