
body {
    background-color: #d5d5d5;
    font-family: Perpetua;
    font-size: large;
}

h2 {
    padding-top: 10px;
}

#api-fetch-title {
    text-align: center;
    color: #850000;
    font-weight: 550;
}

#called-container {
    display: flex;
    justify-content: center;
}

.table {
    width: fit-content;
    align-self: center;
    tr, td{
        border:1px solid #850000;
        white-space: nowrap;
        overflow: hidden;
} 

}


